extends layout
block content
  - function pad(n, z) {z = z || 2;  return ('00' + n).slice(-z);   }
  - function msToTime(s) {  var secs = s % 60;  s = (s - secs) / 60;   var mins = s % 60;   var hrs = (s - mins) / 60;     return pad(hrs) + ':' + pad(mins) + ':' + pad(secs);    }  h1= title
  h1=title
  table(class="table table-hover")
    thead
      tr
        td ID
        td ProductName
        td OS
        td Time
        td Version
        td IP Address
        if showRunTime
            td Process run time
        td partnerId
        td userId
        td resourceId/computerName
        td actions
    tbody
      each record in records
        tr
          td
            a(href='view/' + record.id) #{record.id}
          td=record.fields._productName
          td=record.fields.platform
          td=record.time.toLocaleString()
          td=record.fields._version
          td=record.sender.ip.replace(/^::ffff:/,"")
          if showRunTime
            td #{msToTime(record.fields.ptime)}
          td=record.fields.partnerId
          td=record.fields.userId
          td=record.fields.resourceId
          td
            button(class='btn btn-primary btn-sm' onclick="if (confirm('delete "+record.id+"?')) window.open('delete/"+record.id+"', '_blank');") Delete
